body {
	margin: 0px;
	background-color: #fff;
}

.button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.4em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	transition: border-color 0.25s;
    margin-left: 5px;
}

.links {
    position:absolute;
    right: 75px;
}

.myname {
    float: left;
    margin-left: 10px;
    padding-top: 6px;
}

.navbar {
    position: fixed;
    justify-content: space-between;
    display: flex;
    top: 0;
    width: 100%;
    border: 6px solid transparent;
    background-color: rgb(0, 61, 55);
    color: #fff;
    overflow: hidden;
}

.imgbox {
    display: grid;
    height: 100%;
}

.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.contact-title {
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    font-size: xx-large;
}

.contact-subtitle {
    text-align: center;
    padding-top: 20px;
    line-height: 10px;
}

.footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background-color:aquamarine;
}
